<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="descendant" src="{{ "/assets/img/descendant.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Descendant </h3>
    <ul>
      <li> An Android Pie custom ROM</li>
    </ul>
      <p>Descendant it's a ROM that aims to add useful tweaks over Google's Android AOSP 9. <br>
	 Nothing fancy, straight AOSP plus some tweaks that per-my-idea <br>
	 should be shipped by default in any pure AOSP. </p>
    <a class="project-link" href="https://forum.xda-developers.com/project-treble/trebleenabled-device-development/descendant-android-pie-custom-rom-ver-t3840578">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/labyrinth.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Labyrinth </h3>
    <ul>
      <li> An Android Custom kernel for HI6250 platform </li>
    </ul>
      <p>This kernel builds up on two unavoidable concerns:
	 Smooth performance and good battery backup. </p>
    <a class="project-link" href="https://forum.xda-developers.com/p8lite/p8-lite-2017-development/kernel-labyrinth-kernel-huawei-p8-lite-t3809701">Check it out</a>
  </div>
</div>

